---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 80

DerivePointerAlignment: false
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlignAfterOpenBracket: AlwaysBreak

IncludeCategories:
  - Regex:           '^<.*'
    Priority:        1
  - Regex:           '.*'
    Priority:        2
IncludeBlocks: Preserve
...
